/* This defines styles and classes used in the book */
body { margin: 5%; color: #333; text-align: justify; font-size: medium; font-family: Helvetica, Arial, sans-serif; line-height: 1.2em; }
code { font-family: monospace; }
h1, h2, h3 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  line-height: 1.3em;
}
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
a { color: red }
.title { text-align: center; }
.author { text-align: center; }
.date { text-align: center; }
.toc { padding: 0; margin-left: 2em; }
.toc li { list-style-type: number; margin: 0 0 1em 0; padding: 0; }
.toc a { color: #333; }
cite { font-style: italic; margin-top: 1em; }
sup { font-size: 60%; }
